# Veryfi - cross-chain asset verification

Verify that you own any NFTs, ERCs, are staking or any other ownership that uses balanceOf, for any other network! Veryfi lets you easily check membership and ownership for your community/project! Simply choose the network, enter the token or contract address and Request Veryfication! The app will then show you when the oracles ready and you can submit the verification and it's ready to use onchain!

The Veryfi contract facilitates the process of verifying ownership of tokens across various blockchain networks. This includes NFTs, ERCs, staked tokens, or any other tokens that implement the balanceOf function. The contract works by interacting with the Morpheus oracle to fetch crosschain data about the user's balance.

[https://veryfi.xyz/](https://docs.veryfi.xyz/)\
[https://docs.veryfi.xyz/](https://docs.veryfi.xyz/)
----------------------------------------------------
